*{
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  margin: 0;
  background-color: rgb(159, 165, 165);

  font-family: -apple-system, BlinkMacSystemFont,'verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
